@use "base";

.cards-container {
  max-width: 1110px;
  margin: 0 auto;

  display: grid;
  column-gap: 3rem;
  row-gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 1fr 1fr;
  grid-template-rows: 49.3% 46.5%;

  grid-template-areas:
    "card-one card-one card-two card-five"
    "card-three card-four card-four card-five";
}

.card {
  $color: white;

  color: $color;
  border-radius: 8px;
  padding: 2.6rem 3.2rem;
  background-color: white;

  &__large-text {
    @extend .text-medium;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.6rem;
  }

  &__small-text {
    opacity: 0.7;
    line-height: 1.8rem;
    font-size: 1.3rem;
  }

  &--one {
    grid-area: card-one;
    background: base.$purple700 url("../../images/bg-pattern-quotation.svg")
      no-repeat 82% 0;
    background-size: 104px 102px;
  }

  &--two {
    background: base.$gray600;
    grid-area: card-two;
  }

  &--three {
    grid-area: card-three;
  }

  &--four {
    background: base.$zinc800;
    grid-area: card-four;
  }

  &--five {
    grid-area: card-five;
  }

  &--three,
  &--five {
    color: base.$gray600;
    background: white;
  }
}

.profile {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  margin-bottom: 1.8rem;

  &__img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

  &__img--circle {
    outline: 2px solid base.$purple500;
  }

  &__name {
    @extend .text-semibold;
    margin-bottom: 0.4rem;
    line-height: 1;
  }

  &__verified-status {
    opacity: 0.5;
    font-size: 1.1rem;
    line-height: 1;
  }
}

@media screen and (max-width: 910px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "card-one"
      "card-two"
      "card-three"
      "card-four"
      "card-five";
  }

  .card {
    padding: 3.6rem;

    &__large-text {
      margin-bottom: 4rem;
    }

    &--one {
      background-position: 84% 0;
    }
  }
}
