@use "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1rem = 16px*/
}

body {
  display: grid;
  grid-template-rows: 1fr max-content;

  min-height: 100vh;
  background-color: variables.$cream;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.65;
  color: variables.$darkGrayishBlue;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: grid;
  place-items: center;
}

img {
  display: block;
  width: 100%;
}
